
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    line-height: 61px;

}
#wrapper {
    width: 1208px;
    margin-left: auto;
    margin-right: auto;
}
}
h1 {
    font-size: 58px;
}
h2 {
    font-size: 180%;
}
main {
    width: 760px;
    margin: 27px;
}